<% flash[:errors] ||= [] %>

<div id="errors_and_notices">
  <% flash[:errors].each do |error| %>
    <p class="error-msg"><%= error %></p>
  <% end %>

  <% if flash[:notice] %>
    <p class="notice-msg"><%= flash[:notice] %></p>
  <% end %>

  <% if flash[:alert] %>
    <p class="alert-msg"><%= flash[:alert] %></p>
  <% end %>
</div>